@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, sans-serif;
  }
}

.animate-text-paragraph {
  position: relative;
  animation: loop-text 20s infinite;
}

@keyframes loop-text {
  0% {
    top: 8px;
    opacity: 0;
  }

  0.111% {
    top: 8px;
    opacity: 0;
  }

  4.444% {
    top: 0px;
    opacity: 1;
  }

  12.222% {
    top: 0px;
    opacity: 1;
  }

  16.555% {
    top: 8px;
    opacity: 0;
  }

  16.777% {
    top: 8px;
    opacity: 0;
  }

  21.111% {
    top: 0px;
    opacity: 1;
  }

  28.888% {
    top: 0px;
    opacity: 1;
  }

  33.222% {
    top: 8px;
    opacity: 0;
  }

  33.444% {
    top: 8px;
    opacity: 0;
  }

  37.777% {
    top: 0px;
    opacity: 1;
  }

  45.555% {
    top: 0px;
    opacity: 1;
  }

  49.888% {
    top: 8px;
    opacity: 0;
  }

  50.111% {
    top: 8px;
    opacity: 0;
  }

  54.444% {
    top: 0px;
    opacity: 1;
  }

  62.222% {
    top: 0px;
    opacity: 1;
  }

  66.555% {
    top: 8px;
    opacity: 0;
  }

  66.777% {
    top: 8px;
    opacity: 0;
  }

  71.111% {
    top: 0px;
    opacity: 1;
  }

  78.888% {
    top: 0px;
    opacity: 1;
  }

  83.222% {
    top: 8px;
    opacity: 0;
  }

  83.444% {
    top: 8px;
    opacity: 0;
  }

  87.777% {
    top: 0px;
    opacity: 1;
  }

  95.555% {
    top: 0px;
    opacity: 1;
  }

  99.888% {
    top: 8px;
    opacity: 0;
  }

  100% {
    top: 8px;
    opacity: 0;
  }
}

/*

@property --price {
  syntax: '<integer>';
  initial-value: 0;
  inherits: true;
}

.animate-stock-price::before {
  counter-set: price var(--price);
  content: counter(price);
  animation: loop-stock-price 30s ease infinite;
}

@keyframes loop-stock-price {
  0% {
    --price: 0;
  }

  10% {
    --price: 10;
  }

  15% {
    --price: 14;
  }

  20% {
    --price: 26;
  }

  25% {
    --price: 28;
  }

  30% {
    --price: 38;
  }

  35% {
    --price: 33;
  }

  40% {
    --price: 32;
  }

  45% {
    --price: 43;
  }

  50% {
    --price: 46;
  }

  55% {
    --price: 39;
  }

  60% {
    --price: 53;
  }

  65% {
    --price: 64;
  }

  70% {
    --price: 60;
  }

  75% {
    --price: 76;
  }

  80% {
    --price: 74;
  }

  85% {
    --price: 81;
  }

  90% {
    --price: 100;
  }

  100% {
    --price: 120;
  }
}

*/

.animate-stock-container {
  animation: loop-stock-position 30s ease infinite;
  left: -12.5%;
  bottom: 0%;
}

@keyframes loop-stock-position {
  0% {
    left: -12.5%;
    bottom: 0%;
  }

  10% {
    left: 0%;
    bottom: 10%;
  }

  15% {
    left: 6.25%;
    bottom: 13%;
  }

  20% {
    left: 12.5%;
    bottom: 26%;
  }

  25% {
    left: 18.75%;
    bottom: 18%;
  }

  30% {
    left: 25%;
    bottom: 15%;
  }

  35% {
    left: 31.25%;
    bottom: 28%;
  }

  40% {
    left: 37.5%;
    bottom: 25%;
  }

  45% {
    left: 43.75%;
    bottom: 33%;
  }

  50% {
    left: 50%;
    bottom: 24%;
  }

  55% {
    left: 56.25%;
    bottom: 32%;
  }

  60% {
    left: 62.5%;
    bottom: 50%;
  }

  65% {
    left: 68.75%;
    bottom: 41%;
  }

  70% {
    left: 75%;
    bottom: 46%;
  }

  75% {
    left: 81.25%;
    bottom: 68%;
  }

  80% {
    left: 87.5%;
    bottom: 65%;
  }

  85% {
    left: 93.75%;
    bottom: 76%;
  }

  90% {
    left: 100%;
    bottom: 100%;
  }

  100% {
    left: 112.5%;
    bottom: 120%;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
